.form {
  margin: 3rem auto;
  text-align: center;
}

.old,
.new {
  margin-bottom: 1rem;
}

.old label,
.new label {
  display: block;
  margin: 1rem;
}

.old input,
.new input {
  width: 15rem;
  height: 1.2rem;
  border: none;
  background-color: rgb(201, 199, 199);
  border-radius: 8px;
  padding: 0.2rem;
}

.old input:hover,
.new input:hover {
  border: none;
}

.confirm button {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1rem;
}
